<!DOCTYPE html>
<html>

<head>
<title>Scandinavian Countries: AngularJS Sample</title>
    <script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript">
    function showonlyone(thechosenone) {
        $('.country_desc').each(function(index) {
            if ($(this).attr("id") == thechosenone) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
    </script>
    <style>
    body {
        margin-left: 30px;
    }

    /*a { display:block;}*/
.inline {
    display:inline-block;
    font-weight: bold;
    padding: 20px;
    margin:20px;
    background-color: #005B99;
    border-radius:15px; 
    font-size: 20px;
}

a {
  
  color:grey;
  
}

a:hover{
  text-decoration: none;
  color: #CE1126;
}

#list-bottom {
  bottom:100px;
  position:absolute;
}

#counting-list {
  display: inline;
  /*bottom:100px;*/
  position:auto;
  margin-right: 15px;
  line-height: 250%;
  color:#005B99;
}


    </style>
</head>

<body>

    <div class="inline">
        <a id="Denmark_list" href="javascript:showonlyone('Den_box');">Denmark</a>
    </div>
       <div class="inline">
        <a id="Sweden_list" href="javascript:showonlyone('Swe_box');">Sweden</a>
    </div>
        <div class="inline">
        <a id="Norway_list" href="javascript:showonlyone('Nor_box');">Norway</a>
    </div>
    <div class="inline">
        <a id="Finland_list" href="javascript:showonlyone('Fin_box');">Finland</a>
    </div>
   <div class="inline">
        <a id="Iceland_list" href="javascript:showonlyone('Ice_box');">Iceland</a>
    </div>
       <div class="inline">
        <a id="Faroe_list" href="javascript:showonlyone('Faroe_box');">Faroe Island</a>
    </div>

    <div class="country_desc" id="Den_box" style="display: none">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2276627.192931753!2d8.190917752778411!3d56.13516525678899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464b27b6ee945ffb%3A0x528743d0c3e092cd!2sDenmark!5e0!3m2!1sen!2sus!4v1444865714407" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

        <div id="dvDenmark">
            <h1>Denmark things</h1>
            <div ng-controller="DenmarkController as DenList">
                <span>{{DenList.checked()}} of {{DenList.DenThings.length}} checked</span> [ <a href="" ng-click="DenList.remove()">Clean Up</a> ]
                <ul class="unstyled">
                    <li ng-repeat="DenThing in DenList.DenThings">
                        <input type="checkbox" ng-model="DenThing.done">
                        <span class="done-{{DenThing.done}}">{{DenThing.text}}</span>
                    </li>
                </ul>
                <form ng-submit="DenList.addDenThing()">
                    <input type="text" ng-model="DenList.DenThingText" size="30" placeholder="What else is in Denmark?">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </div>
        </div>
    </div>

    <div class="country_desc" id="Swe_box" style="display: none">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15826652.35252453!2d-0.12033176023801494!3d61.03837927405753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465cb2396d35f0f1%3A0x22b8eba28dad6f62!2sSweden!5e0!3m2!1sen!2sus!4v1444865885237" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="dvSweden">
            <h1>Sweden things</h1>
            <div ng-controller="SwedenController as SweList">
                <span>{{SweList.checked()}} of {{SweList.SweThings.length}} checked</span> [ <a href="" ng-click="SweList.remove()">Clean Up</a> ]
                <ul class="unstyled">
                    <li ng-repeat="SweThing in SweList.SweThings">
                        <input type="checkbox" ng-model="SweThing.done">
                        <span class="done-{{SweThing.done}}">{{SweThing.text}}</span>
                    </li>
                </ul>
                <form ng-submit="SweList.addSweThing()">
                    <input type="text" ng-model="SweList.SweThingText" size="30" placeholder="What else is in Sweden?">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </div>
        </div>
    </div>

    <div class="country_desc" id="Nor_box" style="display: none;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14589959.802381644!2d0.23845631012452553!3d63.487920526736865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x461268458f4de5bf%3A0xa1b03b9db864d02b!2sNorway!5e0!3m2!1sen!2sus!4v1444865910065" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="dvNorway">
            <h1>Norway things</h1>
            <div ng-controller="NorwayController as NorList">
                <span>{{NorList.checked()}} of {{NorList.NorThings.length}} checked</span> [ <a href="" ng-click="NorList.remove()">Clean Up</a> ]
                <ul class="unstyled">
                    <li ng-repeat="NorThing in NorList.NorThings">
                        <input type="checkbox" ng-model="NorThing.done">
                        <span class="done-{{NorThing.done}}">{{NorThing.text}}</span>
                    </li>
                </ul>
                <form ng-submit="NorList.addNorThing()">
                    <input type="text" ng-model="NorList.NorThingText" size="30" placeholder="What else is in Norway?">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </div>
        </div>
    </div>

    <div class="country_desc" id="Fin_box" style="display: none;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6998500.350539959!2d17.112143825872145!3d64.64378889548738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4681cadf4b32f6dd%3A0x146d63c75a810!2sFinland!5e0!3m2!1sen!2sus!4v1444865961766" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="dvFinland">
            <h1>Finland things</h1>
            <div ng-controller="FinlandController as FinList">
                <span>{{FinList.checked()}} of {{FinList.FinThings.length}} checked</span> [ <a href="" ng-click="FinList.remove()">Clean Up</a> ]
                <ul class="unstyled">
                    <li ng-repeat="FinThing in FinList.FinThings">
                        <input type="checkbox" ng-model="FinThing.done">
                        <span class="done-{{FinThing.done}}">{{FinThing.text}}</span>
                    </li>
                </ul>
                <form ng-submit="FinList.addFinThing()">
                    <input type="text" ng-model="FinList.FinThingText" size="30" placeholder="What else is in Finland?">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </div>
        </div>
    </div>

    <div class="country_desc" id="Ice_box" style="display: none;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3470902.133889739!2d-23.513284624190952!3d64.86355601848722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d22b52a3eb6043%3A0x6f8a0434e5c1459a!2sIceland!5e0!3m2!1sen!2sus!4v1444865989364" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="dvIceland">
            <h1>Iceland things</h1>
            <div ng-controller="IcelandController as IceList">
                <span>{{IceList.checked()}} of {{IceList.IceThings.length}} checked</span> [ <a href="" ng-click="IceList.remove()">Clean Up</a> ]
                <ul class="unstyled">
                    <li ng-repeat="IceThing in IceList.IceThings">
                        <input type="checkbox" ng-model="IceThing.done">
                        <span class="done-{{IceThing.done}}">{{IceThing.text}}</span>
                    </li>
                </ul>
                <form ng-submit="IceList.addIceThing()">
                    <input type="text" ng-model="IceList.IceThingText" size="30" placeholder="What else is in Iceland?">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </div>
        </div>
    </div>

    <div class="country_desc" id="Faroe_box" style="display: none;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d962519.9072985725!2d-8.09660370801802!3d61.889094506371606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48bc1593762df9eb%3A0x3fb0314864f71b24!2sFaroe+Islands!5e0!3m2!1sen!2sus!4v1444866008471" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="dvFaroe">
            <h1>Faroe Island things</h1>
            <div ng-controller="FaroeController as FaroeList">
                <span>{{FaroeList.checked()}} of {{FaroeList.FaroeThings.length}} checked</span> [ <a href="" ng-click="FaroeList.remove()">Clean Up</a> ]
                <ul class="unstyled">
                    <li ng-repeat="FaroeThing in FaroeList.FaroeThings">
                        <input type="checkbox" ng-model="FaroeThing.done">
                        <span class="done-{{FaroeThing.done}}">{{FaroeThing.text}}</span>
                    </li>
                </ul>
                <form ng-submit="FaroeList.addFaroeThing()">
                    <input type="text" ng-model="FaroeList.FaroeThingText" size="30" placeholder="What else is in Faroe Island?">
                    <input class="btn-primary" type="submit" value="add">
                </form>
            </div>
        </div>
    </div>


<!-- <div id="dvLikes_count">
<div id= "list-bottom" class="container-fluid">
  <div id="counting-list" class="counting1" ng-init="count1=0">
  <button type="button" class="btn btn-primary btn-md round" ng-click="count1 = count1 + 1">Denmark</button>  Likes: {{ count1 }}</div>
<div id="counting-list" class="counting2" ng-init="count2=0">
  <button type="button" class="btn btn-primary btn-md round" ng-click="count2 = count2 + 1">Sweden</button>  Likes: {{ count2 }}</div>
<div id="counting-list" class="counting3" ng-init="count3=0">
  <button type="button" class="btn btn-primary btn-md round" ng-click="count3 = count3 + 1">Norway</button>  Likes: {{ count3 }}</div>
<div id="counting-list" class="counting4" ng-init="count4=0">
  <button type="button" class="btn btn-primary btn-md round" ng-click="count4 = count4 + 1">Finland</button>  Likes: {{ count4 }}</div>
<div id="counting-list" class="counting5" ng-init="count5=0">
  <button type="button" class="btn btn-primary btn-md round" ng-click="count5 = count5 + 1">Iceland</button>  Likes: {{ count5 }}</div>
  <div id="counting-list" class="counting6" ng-init="count6=0">
  <button type="button" class="btn btn-primary btn-md round" ng-click="count6 = count6 + 1">Faroe Island</button>  Likes: {{ count6 }}</div>
</div>
</div> -->


    <script>
// var likes_countApp = angular.module("likes_countApp", []);
// likes_countApp.controller("Likes_countController", function() {

//        }



    var denmarkApp = angular.module("denmarkApp", []);
    denmarkApp.controller("DenmarkController", function() {
        var DenList = this;
        DenList.DenThings = [{
            text: 'Royal Dansk',
            done: true
        }, {
            text: 'Hans Christian Andersen',
            done: false
        }, {
            text: 'Lego',
            done: false
        }];


        DenList.addDenThing = function() {
            DenList.DenThings.push({
                text: DenList.DenThingText,
                done: false
            });
            DenList.DenThingText = '';
        };

        DenList.checked = function() {
            var count = 0;
            angular.forEach(DenList.DenThings, function(DenThing) {
                count += DenThing.done ? 0 : 1;
            });
            return count;
        };

        DenList.remove = function() {
            var oldDenThings = DenList.DenThings;
            DenList.DenThings = [];
            angular.forEach(oldDenThings, function(DenThing) {
                if (!DenThing.done) DenList.DenThings.push(DenThing);
            });
        };
    });





    var swedenApp = angular.module("swedenApp", []);
    swedenApp.controller("SwedenController", function() {
        var SweList = this;
        SweList.SweThings = [{
            text: 'Ingmar & Ingrid Bergman',
            done: true
        }, {
            text: 'Pippi Longstocking',
            done: true
        }, {
            text: 'Swedish Fish',
            done: false
        }];


        SweList.addSweThing = function() {
            SweList.SweThings.push({
                text: SweList.SweThingText,
                done: false
            });
            SweList.SweThingText = '';
        };

        SweList.checked = function() {
            var count = 0;
            angular.forEach(SweList.SweThings, function(SweThing) {
                count += SweThing.done ? 0 : 1;
            });
            return count;
        };

        SweList.remove = function() {
            var oldSweThings = SweList.SweThings;
            SweList.SweThings = [];
            angular.forEach(oldSweThings, function(SweThing) {
                if (!SweThing.done) SweList.SweThings.push(SweThing);
            });
        };
    });



    var norwayApp = angular.module("norwayApp", []);
    norwayApp.controller("NorwayController", function() {
        var NorList = this;
        NorList.NorThings = [{
            text: 'Hamsun',
            done: true
        }, {
            text: 'Gaahl',
            done: true
        }, {
            text: 'Karl Ove',
            done: false
        }];


        NorList.addNorThing = function() {
            NorList.NorThings.push({
                text: NorList.NorThingText,
                done: false
            });
            NorList.NorThingText = '';
        };

        NorList.checked = function() {
            var count = 0;
            angular.forEach(NorList.NorThings, function(NorThing) {
                count += NorThing.done ? 0 : 1;
            });
            return count;
        };

        NorList.remove = function() {
            var oldNorThings = NorList.NorThings;
            NorList.NorThings = [];
            angular.forEach(oldNorThings, function(NorThing) {
                if (!NorThing.done) NorList.NorThings.push(NorThing);
            });
        };
    });



    var finlandApp = angular.module("finlandApp", []);
    finlandApp.controller("FinlandController", function() {
        var FinList = this;
        FinList.FinThings = [{
            text: 'Moomins',
            done: true
        }, {
            text: 'Marimeko',
            done: true
        }, {
            text: 'Kalevala',
            done: false
        }];


        FinList.addFinThing = function() {
            FinList.FinThings.push({
                text: FinList.FinThingText,
                done: false
            });
            FinList.FinThingText = '';
        };

        FinList.checked = function() {
            var count = 0;
            angular.forEach(FinList.FinThings, function(FinThing) {
                count += FinThing.done ? 0 : 1;
            });
            return count;
        };

        FinList.remove = function() {
            var oldFinThings = FinList.FinThings;
            FinList.FinThings = [];
            angular.forEach(oldFinThings, function(FinThing) {
                if (!FinThing.done) FinList.FinThings.push(FinThing);
            });
        };
    });


    var icelandApp = angular.module("icelandApp", []);
    icelandApp.controller("IcelandController", function() {
        var IceList = this;
        IceList.IceThings = [{
            text: 'Hidden folks',
            done: true
        }, {
            text: 'Black Shore',
            done: true
        }, {
            text: 'Sigur Ros',
            done: false
        }];


        IceList.addIceThing = function() {
            IceList.IceThings.push({
                text: IceList.IceThingText,
                done: false
            });
            IceList.IceThingText = '';
        };

        IceList.checked = function() {
            var count = 0;
            angular.forEach(IceList.IceThings, function(IceThing) {
                count += IceThing.done ? 0 : 1;
            });
            return count;
        };

        IceList.remove = function() {
            var oldIceThings = IceList.IceThings;
            IceList.IceThings = [];
            angular.forEach(oldIceThings, function(IceThing) {
                if (!IceThing.done) IceList.IceThings.push(IceThing);
            });
        };
    });


    var faroeApp = angular.module("faroeApp", []);
    faroeApp.controller("FaroeController", function() {
        var FaroeList = this;
        FaroeList.FaroeThings = [{
            text: 'Tyr',
            done: true
        }, {
            text: 'Sheeps',
            done: true
        }, {
            text: 'Rasmus Rasmussen',
            done: false
        }];


        FaroeList.addFaroeThing = function() {
            FaroeList.FaroeThings.push({
                text: FaroeList.FaroeThingText,
                done: false
            });
            FaroeList.FaroeThingText = '';
        };

        FaroeList.checked = function() {
            var count = 0;
            angular.forEach(FaroeList.FaroeThings, function(FaroeThing) {
                count += FaroeThing.done ? 0 : 1;
            });
            return count;
        };

        FaroeList.remove = function() {
            var oldFaroeThings = FaroeList.FaroeThings;
            FaroeList.FaroeThings = [];
            angular.forEach(oldFaroeThings, function(FaroeThing) {
                if (!FaroeThing.done) FaroeList.FaroeThings.push(FaroeThing);
            });
        };
    });





    // var dvLikes_count = document.getElementById('dvLikes_count');

    var dvDenmark = document.getElementById('dvDenmark');
    var dvSweden = document.getElementById('dvSweden');
    var dvNorway = document.getElementById('dvNorway');
    var dvFinland = document.getElementById('dvFinland');
    var dvIceland = document.getElementById('dvIceland');
    var dvFaroe = document.getElementById('dvFaroe');

    // var navList = document.getElementById('navList');


    angular.element(document).ready(function() {
        // angular.bootstrap(dvLikes_count, ['likes_countApp']);
        angular.bootstrap(dvDenmark, ['denmarkApp']);
        angular.bootstrap(dvSweden, ['swedenApp']);
        angular.bootstrap(dvNorway, ['norwayApp']);
        angular.bootstrap(dvFinland, ['finlandApp']);
        angular.bootstrap(dvIceland, ['icelandApp']);
        angular.bootstrap(dvFaroe, ['faroeApp']);

    });
    </script>
</body>

</html>
