h1{font-size:55px;font-family:'Oxygen', sans-serif;font-weight:700;text-align:center;padding-top:60px;}
h2{font-size:25px;font-family:'Oxygen', sans-serif;font-weight:700;text-align:center;padding-top:60px;}
body{font-size:20px;font-family:'Open Sans', sans-serif;font-weight:400;color:#3f3f3f;text-align:center;background-image:url('images/Wood111.jpg');background-repeat:repeat-x| repeat-y;}
a{font-size:17px;color:#3f3f3f;}
p{margin:5px;}
.title-box{position:relative;width:50%;border-radius:0;background:white;opacity:0.9;filter:alpha(opacity=90);margin:0 auto 0 auto;}
.project-box{position:relative;width:50%;border-radius:0;background:white;opacity:0.9;filter:alpha(opacity=90);margin:0 auto 0 auto;}
.music-box{position:relative;width:50%;border-radius:0;background:white;margin:0 auto 0 auto;}
.accordion{overflow:hidden;}
.accordion-section-title{width:50%;padding:10px;display:inline-block;transition:all linear 0.15s;}
.accordion-section-title.active, .accordion-section-title:hover{color:#D3D3D3;}
.accordion-section-content{padding:10px;display:none;font-size:15px;}
.small-link{font-size:15px;}
.small-link.active, .small-link:hover{color:#D3D3D3;}
.icon1{opacity:0.7;}
.icon1:hover{opacity:0.4;}
.small-letter{font-size:15px;}
.book{margin:35px;font-size:15px;text-align:left;}
.book-2title{margin:32px;font-size:15px;}
.book-right{margin:32px;font-size:15px;text-align:right;}
img{max-width:80%;max-height:55%;}
@font-face{font-family:'Oxygen';font-style:normal;font-weight:300;src:local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
@font-face{font-family:'Oxygen';font-style:normal;font-weight:700;src:local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}