html,
body {
    font-family: 'McLaren', cursive;
    /*background-color: cyan;*/
}

p {
    margin: 2px;
    line-height: 2;
}

h1 {
    /*background-color: green;*/
    
    width: 96%;
    border-radius: 5px;
    text-align: center;
    padding: 2%;
    vertical-align: middle;
    /*display: table-cell;*/
}

#leftNav {
    /*position: relative;
    display: inline;*/
    
    text-align: center;
}

.navItem {
    border: 2px dotted;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    clear: both;
}

.navItem:hover {
    background-color: #159b9f;
    color: white;
    cursor: pointer;
}

#content {
    line-height: 1.3;
    padding-bottom: 20px;
}

#article {
    padding-top: 20px;
}

#title {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-top: 5px;
    padding: 16px;
    background-color: brown;
    color: white;
    width: 95%;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
}

#article p {
    background-color: #DDDDDD;
    border-radius: 5px;
    clear: both;
    padding: 15px;
    width: 96%;
}

img {
    display: block;
    margin: auto;
    padding-top: 15px;
    max-width: 100%;
    height: auto;
}
/*footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    display: block;
    text-align: center;
}*/
