<!DOCTYPE html>
<html ng-app="quizApp">
<head>
	<title>Trivia about scandinavian countries</title>
	 <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	 <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="app.js"></script>
<style type="text/css">
	ul{
		 list-style-type: none;
	}
	#score {
		margin: 10px 0 0 40px;
	}
	button{
		    margin-left: 40px;
	}
</style>
</head>
<body>
<div class="container">
	<h2 class="title">Little facts about scandinavian countries</h1>

<script type='text/ng-template' id='Scandinavian_quiz/Scan_template.html'>
	<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">
		<h3 id="question">{{question}}</h3>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">  &nbsp {{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAnswer"><strong>&nbsp Yes!</strong></span>
			<span ng-show="!correctAnswer">
			<strong>Nej Nei!</strong> 
			Correct answer is: <a href="{{right_answer_url}}">
			<strong>{{right_answer}}</strong></a></span>
		</div>
	</div>

	<div ng-show="quizOver">
		<h2>That's all!</h2>
		<button ng-click="reset()">Shall we do it again?</button>
	</div>

	<div id="score">
		Score:{{score}}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<h3>Can you answer this on top of your head?</h3>
	<br>

	<button id="startQuiz" ng-click="start()">Let's do it!</button>
</div>
</script>

	<quiz/>
</div>
</body>
</html>