html,
body {
    height: 100%;
    width: 100%;
    font-family: "Arvo";
    margin: 0 auto;
}

h1,
h2 {
    font-weight: normal;
    font-size: 58px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 34px;
    text-align: center;
}

#nav_container a {
    font-size: 1.5em;
}

.navbar-inverse {
    background-color: #594F4F;
    border: 0;
    padding-top: 2%;
}

* {
    box-sizing: content-box;
}

.quotes ._container {
    width: 100%;
    ;
    margin: 0 auto;
}

.quotes {
    font-family: 'Antic Slab', serif;
    font-weight: 200;
    font-size: 22px;
    text-align: center;
    line-height: 1.5em;
    margin: 50px 10%;
    padding: 0 20px;
}

._name {
    font-size: 22px;
    text-align: right;
    margin: 0 20px;
}

._white {
    color: #fff;
    padding: 20px;
    margin: 0 auto;
}

.boy {
    margin: 0 auto;
    font-size: 50px;
}

._name_white {
    color: #fff;
    text-align: right;
    padding: 20px;
    margin: 0 auto;
}

.name_yellow {
    color: #FBB829;
}

.name_grey {
    color: #594F4F;
}

.centeredImage {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#slide1,
#slide2 {
    width: 100%;
}

#slide1 {
    background-color: #FBB829;
    color: #fff;
    height: 300px;
    margin: 0 auto;
    padding: 180px 0 240px 0;
    background-size: cover;
}

#slide2 {
    background-color: #0099FF;
    color: #9DE0AD;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 150px 0 300px 0;
}

#slide3 {
    background-color: #547980;
    color: #547980;
    height: 390px;
    margin: 0 auto;
    overflow: hidden;
    padding: 150px 0 280px 0;
}

#slide4 {
    background-color: #01C5BB;
    color: #333333;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    padding: 160px 0 280px 0;
}

#slide5 {
    background-color: #72AD75;
    height: 390px;
    margin: 0 auto;
    padding: 150px 0 480px 0;
    color: #fff;
}

#copyright {
    color: #fff;
    font-family: "Arvo";
    font-size: 17px;
    margin-top: 100px;
    text-align: center;
}

#copyright a {
    text-decoration: none;
    color: #594F4F;
}

@media screen and (max-width: 480px) {
        #slide3, #slide3, #slide4, #slide5{
        height: 75%;
    }
}

@media screen and (max-width: 354px) {
    #logo a {
        font-size: 1.2em;
        margin-left: 5%;
        line-height: 1;
    }


}

@media screen and (max-width: 300px) {
    #logo a {
        display: none;
    }
}
